[include]
  path = .gitconfig.local
  path = ~/dotfiles/git/delta
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[color]
  ui = true
[push]
  default = current
[core]
  pager = delta
  excludesFile = ~/dotfiles/git/ignore-global
[alias]
  ad = add
  ba = branch -a
  br = branch
  ci = commit
  cl = config --list
  co = checkout
  df = diff
  dc = diff --cached
  fe = fetch --prune
  ls = ls-files
  mf = merge --ff-only
  pul = pull --ff-only --prune
  pur = pull --rebase
  pus = !git rev-parse --abbrev-ref @{u} >/dev/null 2>&1 && git push || git push -u
  puf = push --force-with-lease --force-if-includes
  rv = remote -v
  sh = show
  st = status -s --branch
  us = reset HEAD # unstage
  wk = worktree
  asq = rebase --autosquash @{u}
  fi = fixup-wip
  la = log-all
  lg = log-unpushed
  lr = log-recent

  set-upstream = !git branch -u origin/$(git branch --show-current)
	si = switch-issue

[init]
  defaultBranch = main

[includeIf "gitdir:~/projects/src/github.com/kawaken/"]
  path = ~/dotfiles/git/.gitconfig-me
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictStyle = zdiff3
[advice]
	forceDeleteBranch = false
