[include]
    path = .gitconfig.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
    ui = true
[push]
    default = current
[core]
	pager = less -RiM
	excludesFile = ~/dotfiles/git/ignore-global
[alias]
	ad = add
	ba = branch -a
	br = branch
	ci = commit
	cl = config --list
	co = checkout
	df = diff
	dc = diff --cached
	dw = diff --word-diff-regex='\\w+'
	fe = fetch
	lg = log --decorate --stat --graph --date=iso
	la = log --decorate --stat --graph --date=iso --all
	ls = ls-files
	mf = merge --ff-only
	pul = pull --ff-only
	pur = pull --rebase
	pus = push
	puf = push --force-with-lease --force-if-includes
	rv = remote -v
	sh = show
	st = status -s --branch
	us = reset HEAD # unstage
[init]
	defaultBranch = main
